body {
	width: 100%;
	height: 100%;
	background-color: #30282a;
}

header {
	height: 70px;
}

.photo {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.41;
}

.logo {
	position: relative;
	left: 20%;
	width: 70px;
	height: 70px;
	float: left;
}

header nav {
	width: 70px;
	height: 70px;
	background-color: #30282A;
	color: #ffffff;
	float: right;
	position: relative;
	right: 20%;
	font-size: 48px;
	text-align: center;
	line-height: 65px;
}

main {
	position: absolute;
    left: 20%;
    right: 50%;
    top: 20%;
}

section h1 {
	color: #ffffff;
	font-family: "teko", sans-serif;
	font-weight: 300;
	font-size: 60px; 
	letter-spacing: 10px;
	text-transform: uppercase;
}

section h2 {
	color: #ffffff;
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-top: 10px;
}

section p {
	color: #ffffff;
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
	font-size: 12px;
	margin-top: 10px;
}

main aside{
	margin-top: 30px;
}

aside h2 {
	color: #ffffff;
	font-family: "teko", sans-serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

aside p {
	color: #ffffff;
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin-top: 20px;
}

main form{
	margin-top: 20px;
}

.formInput{
	height: 30px;
	width: 250px;
	padding-left: 10px
	box-sizing: content-box;
}

.signUpButton {
	height: 30px;
	width: 80px;
	background-color: #f63c3c;
	border: 0;
	color: white;
	font-family: "teko", sans-serif;
	font-size: 16px;
	font-weight: 300px;
	letter-spacing: 2px;
	box-sizing: content-box;

}

.twitterIcon {
	float: left;
}

.fa-twitter {
	color: #ffffff

}

main ul {
	margin-top: 20px;
}

.rightContainer {
	width: 200px; 
	float: left;
	color: white;
	margin-left: 10px;
	margin-top: 3px;
}

.rightContainer h3 {
	font-family: "teko", sans-serif;
	font-weight: 300px; 
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px; 
}

.rightContainer span {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300px;
	font-size: 10px;
	display: block;
	margin-top: 5px;

}

.rightContainer time {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300px;
	font-size: 8px;
	text-transform: uppercase; 
}

.footer {
	position: absolute;
	bottom: 15px;
	right: 20%;
	left: 20%;
	font-family: "Titillium Web", sans-serif;
	font-weight: 300px;
	font-size: 8px;
	color: #959595;
}

.footer p {
	float: left;
}

.footer nav {
	float: right;
}

.footer nav ul li {
	display: inline-block;
}

.footer nav ul li a {
	text-decoration: none;
	color: #959595;
}






























